
* {
    box-sizing: border-box;
  }


.wrapper-formulario {
    margin: 20px 0px 20px 0px;
    padding: 20px 20px;
    max-width: 1040px;
    background-color: #f0f6fe;
    border-radius: 20px;
}

.btn-style {
    font-size: 16px;
    background-color: #5082ee;
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    height: auto;

}

.input-area {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #d6d5d8;
    border-radius: 6px;
    width: 100%;
      
}


.wrapper-noticias {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
  }
  
  
  .article-wrapper-cards {
    max-width: 100% 1440px;
  }


  .card {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    max-width: 100% 1040px;
    padding: 15px;
    margin: 0px 0px 40px 0px;
    background: white;
    border-style: solid;
    border-color: #d6d5d8;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
  }


  .card-item {
flex-basis: 50%;

  }


  .titulo {
    padding-bottom: 10px;
  }

  .fecha {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;

  }

  .noticia {
    padding-top: 10px;
  }
  

  .imagen {
    max-width: 100%;
    width: 100%;
  }

  @media (min-width: 840px) {
    .article-wrapper-cards {
      flex-direction: row;
    }
  }
  
  
 

/*




*/