
* {
    box-sizing: border-box;
  }


.wrapper-forumulario {
    margin: auto;
    padding: 20px 20px;
    max-width: 1440px;
    background-color: #f0f6fe;
}

.btn-style {
    font-size: 16px;
    background-color: #5082ee;
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    height: auto;


}






.wrapper-noticias {
    padding-top: 30px;
    background-color: azure ;
    border-radius: 10px;
  }
  
  
  .article-wrapper-cards {
    display: flex;
    max-width: 100% 1440px;
    gap: 25px;
    flex-basis: 25%;
    padding: 30px;
    
   
  }

  .card {
    flex-basis: 25%;
    width: auto;
    list-style: none;
    border-color: #d6d5d8;
    justify-content: center;
  }

  .titulo {
    padding-bottom: 10px;
  }

  .fecha {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;

  }

  .noticia {
    padding-top: 10px;
  }
  

  .imagen {
    max-width: 100%;
    width: 100%;
  }

  @media (min-width: 840px) {
    .article-wrapper-cards {
      flex-direction: row;
    }
  }
  
  
 

